{% set motd = salt['grains.filter_by']({
  'Debian': {
    'filename': '/etc/motd',
  },
  'RedHat': {
    'filename': '/etc/motd',
  },
  'default': {
    'filename': '/etc/motd',
  },
}, merge=salt['pillar.get']('motd:lookup')) %}
